/* ================= MEDIA QUERIES (TABLETS) ============== */

@media screen and (max-width: 1024px) {
   .container {
     width: var(--container-width-md);
   }
 
   h1 {
     width: 94%;
     font-size: 2rem;
     line-height: 1.9rem;
   }
 
   h2 {
     font-size: 1.7rem;
   }
 
   h3 {
     font-size: 1.4rem;
   }
   h4 {
     font-size: 1.2rem;
   }

   p{
      font-size: 1.2rem;
      width: 95%;
   }

   #logo h4{
    font-size: 1rem;
   }

   #logo i, .open-menu-btn, .close-menu-btn{
    font-size: 1.2rem;
   }
 
   nav button {
     display: inline-block;
     background: transparent;
     font-size: 1.8rem;
     color: var(--color-white);
     cursor: pointer;
   }
 
   nav button.close-menu-btn {
     display: none;
   }
 
   .nav_menu {
     position: fixed;
     top: 5rem;
     right: 5%;
     height: fit-content;
     width: 18rem;
     flex-direction: column;
     gap: 0;
     display: none;
   }
 
   .nav_menu li {
     width: 100%;
     height: 5.8rem;
     animation: animateNavItems 400ms linear forwards;
     transform-origin: top right;
     opacity: 0;
   }
 
   .nav_menu li:nth-child(2) {
     animation-delay: 200ms;
   }
 
   .nav_menu li:nth-child(3) {
     animation-delay: 300ms;
   }
 
   .nav_menu li:nth-child(4) {
     animation-delay: 400ms;
   }
 
   @keyframes animateNavItems {
     0% {
       transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
     }
     100% {
       transform: rotateZ(0) rotateX(0) scale(1);
       opacity: 1;
     }
   }
 
   .nav_menu li a {
     background: var(--color-primary);
     box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
     width: 100%;
     height: 100%;
     display: grid;
     place-items: center;
   }
 
   .nav_menu li a:hover {
     background-color: var(--color-bg2);
     color: var(--color-white);
   }

   /* ============ HEADER ========== */
   header button{
    padding: 1.2rem;
    width: 85%;
    font-size: 1rem;
   }
}

/* ================= MEDIA QUERIES (phones) ============== */

@media screen and (max-width: 600px) {
   .container {
     width: var(--container-width-sm);
   }
 
   /* ==================== Navbar ===================== */
 
   .nav_menu {
     right: 3%;
   }
}