/* =============== GLOBAL =============== */

* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
 }

 :root {
   --color-success: #00bf8e;
   --color-warning: #f7c94b;
   --color-danger: #f75842;
   --color-danger-variant: rgba(247, 88, 66, 0.4);
   --color-white: #fff;
   --color-light: rgba(255, 255, 255, 0.7);
   --color-black: #000;
   --color-bg: #1f2641;
   --color-bg1: #2e3267;
   --color-bg2: #424890;
 
   --color-primary: #0064ee;
 
   --container-width-lg: 76%;
   --container-width-md: 90%;
   --container-width-sm: 90%;
 
   --transition: all 400ms ease;
 }

 html{
  scroll-behavior: smooth;
 }
 
 body {
   font-family: "Montserrat", sans-serif;
   color: var(--color-white);
   /* background-color: var(--color-bg); */
 }
 
 .container {
   width: var(--container-width-lg);
   margin: 0 auto;
 }
 
 a {
  color: var(--color-white);
}
 

/* =============== NAVBAR ========== */

nav {
   background: transparent;
   width: 100vw;
   height: 5rem;
   position: fixed;
   z-index: 11;
   top: 0;
   background: var(--color-primary);

 }
 /* change navbar style on scroll using javascript */
 /* .window-scroll {
   background: var(--color-primary);
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
 } */
 
 .nav_container {
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 #logo{
  display:flex ;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
 }

 #logo i{
  font-size: 1.5rem;
 }
 
 .nav_menu {
   display: flex;
   align-items: center;
   gap: 4rem;
 }
 
 .nav_menu a {
   font-size: 1.2rem;
   transition: var(--transition);
 }
 
 .nav_menu a:hover {
   color: var(--color-bg2);
 }
 
 nav button {
  display: none;
}

/* =============== HEADER =============== */

header{
  width: 100vw;
  height: 100vh;
  background-image: url("https://searchgrouppartners.com/wp-content/uploads/search-bkg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

h1{
  letter-spacing: 1px;
  width: 48%;
  color: var(--color-white);
  text-align: center;
  font-size: 4.8rem;
  line-height: 4rem;
   
}

p{
  text-align: center;
  width: 45%;
  font-size: 2rem;
  color: var(--color-light);
  font-style: italic;
}

header button{
  cursor: pointer;
  padding: 2.2rem;
  font-size: 1.5rem;
  border-radius: 8px;
  color: var(--color-white);

  font-weight: 700;
  background: var(--color-success) ;
}

/* =========== MAIN =========== */

.la{
  height: 100vh;
  width: 100%;
}